<?xml version="1.0"?>
<launch>
    <arg name="record_path"/>
    <arg name="bag_prefix" default=""/>

    <node pkg="rosbag" type="record" name="recorder" args="--split --size=1024 -o $(arg record_path)/$(arg bag_prefix)
        /clock
        /rmf_owl/odom
        /rmf_owl/drift_odom
        /tf
        /tf_static
    "/>

</launch>
