<?xml version="1.0"?>
<launch>
    <arg name="cam_info_topic" default="/oak/stereo/camera_info"/>
    <arg name="depth_topic" default="/oak/stereo/image_raw"/>
    <arg name="decimation_factor" default="5"/>

    <node pkg="image_proc" type="image_proc" name="image_proc"/>
    <node pkg="nodelet" type="nodelet" name="downsample_depth" args="standalone image_proc/crop_decimate">
        <param name="decimation_x" type="int" value="$(arg decimation_factor)"/>
        <param name="decimation_y" type="int" value="$(arg decimation_factor)"/>
        <remap from="camera/image_raw" to="$(arg depth_topic)"/>
        <remap from="camera/image_info" to="$(arg cam_info_topic)"/>
        <remap from="camera_out/image_raw" to="$(arg depth_topic)/decimated"/>
        <remap from="camera_out/camera_info" to="$(arg cam_info_topic)/decimated"/>
    </node>
</launch>
