<?xml version="1.0"?>
<launch>
	<arg name="cam_info_topic" value="d455/depth/camera_info/decimated"/>
	<arg name="depth_topic" value="d455/depth/image_rect_raw/decimated"/>
	<arg name="pc_out_topic" value="d455/depth/pointcloud"/>
	<arg name="decimation_factor" value="10"/>

	<node pkg="nodelet" type="nodelet" name="standalone_nodelet" args="manager" output="screen"/>
	<node pkg="nodelet" type="nodelet" name="points_xyz" args="load depth_image_proc/point_cloud_xyz standalone_nodelet --no-bond">
		<remap from="camera_info" to="$(arg cam_info_topic)"/>  
		<remap from="image_rect" to="$(arg depth_topic)"/>  
		<remap from="points" to="$(arg pc_out_topic)"/>
	</node>
</launch>
