<?xml version="1.0"?>
<launch>
	<arg name="cam_info_topic" default="d455/depth/camera_info"/>
	<arg name="depth_topic" default="d455/depth/image_rect_raw"/>
	<arg name="pc_out_topic" default="d455/depth/pointcloud"/>
	<arg name="decimation_factor" default="5"/>

	<include file="$(find lmf_sim)/launch/depth_decimation.launch" >
		<arg name="cam_info_topic" value="$(arg cam_info_topic)"/>
		<arg name="depth_topic" value="$(arg depth_topic)"/>
        <arg name="decimation_factor" value="$(arg decimation_factor)"/>
    </include>

	<node pkg="nodelet" type="nodelet" name="standalone_nodelet" args="manager" output="screen"/>
	<node pkg="nodelet" type="nodelet" name="points_xyz" args="load depth_image_proc/point_cloud_xyz standalone_nodelet --no-bond">
		<remap from="camera_info" to="$(arg cam_info_topic)/decimated"/>
		<remap from="image_rect" to="$(arg depth_topic)/decimated"/>
		<remap from="points" to="$(arg pc_out_topic)"/>
	</node>
</launch>
