<?xml version="1.0"?>
<launch>
    <param name="use_sim_time" value="true" />

    <!-- record parameters -->
    <arg name="record" default="true"/>
    <arg name="record_path" default="/home/sedith/work/colpred_ws/bags"/>
    <arg name="bag_prefix" default=""/>

    <!-- world parameters -->
    <arg name="resource_dir" default="$(find lmf_sim)/resources/worlds" />
    <arg name="verbosity" default="4"/>
    <arg name="version" default="7.4.0"/>
    <arg name="world" default="empty"/>
    <arg name="headless" default="false"/>

    <arg name="headless_args" value="-s --headless-rendering" if="$(arg headless)"/>
    <arg name="headless_args" value="" if="$(eval arg('headless') == false)"/>

    <!-- robot parameters -->
    <arg name="robot_name" default="rmf_owl"/>
    <arg name="robot_type" default="rmf_owl"/>
    <arg name="control_mode" default="acc"/>
    <arg name="allow_renaming" default="true" />
    <arg name="x" default="0" />
    <arg name="y" default="0" />
    <arg name="z" default="0.5" />
    <arg name="R" default="0.0" />
    <arg name="P" default="0.0" />
    <arg name="Y" default="0.0" />

    <!-- spawn world -->
    <include file="$(find ros_ign_gazebo)/launch/ign_gazebo.launch">
        <env name="GZ_SIM_MODEL_PATH" value="$(arg resource_dir)" />
        <env name="GZ_SIM_RESOURCE_PATH" value="$(arg resource_dir)" />
        <arg name="ign_args" value="--force-version $(arg version) -r $(arg headless_args) -v $(arg verbosity) $(arg world).sdf"/>
    </include>

    <node pkg="ros_ign_bridge" type="parameter_bridge"
        name="$(anon ros_ign_bridge)"
        args="/clock@rosgraph_msgs/Clock[gz.msgs.Clock"
    />

    <!-- spawn robot -->
    <node pkg="ros_ign_gazebo" type="create" name="spawn_model" args="
        -world map
        -name $(arg robot_name)
        -allow_renaming $(arg allow_renaming)
        -file $(find lmf_sim)/resources/robots/$(arg robot_type)/model.sdf
        -x $(arg x) -y $(arg y) -z $(arg z)
        -R $(arg R) -P $(arg P) -Y $(arg Y)
        ">
        <env name="GZ_SIM_MODEL_PATH" value="$(find lmf_sim)/resources" />
        <env name="GZ_SIM_RESOURCE_PATH" value="$(find lmf_sim)/resources" />
    </node>

    <include file="$(find lmf_sim)/launch/topics.launch">
        <arg name="world" value="$(arg world)" />
        <arg name="robot_name" value="$(arg robot_name)" />
        <arg name="robot_type" value="$(arg robot_type)" />
        <arg name="control_mode" value="$(arg control_mode)"/>
    </include>

    <node pkg="tf2_ros" type="static_transform_publisher" name="static_transform_publisher2"
    args="0 0 0 0 0 0 1.0 /map /$(arg robot_name)/odom" />

    <include if="$(arg record)" file="$(find lmf_sim)/launch/bag_rec.launch" >
        <arg name="record_path" value="$(arg record_path)"/>
        <arg name="bag_prefix" value="$(arg bag_prefix)"/>
    </include>

    <!-- joystick -->
    <include file="$(find joystick_remapper)/launch/joystick_remapper.launch"/>

    <!-- lidar range image -->
    <include file="$(find pc_to_range)/launch/pc_to_range.launch"/>
</launch>
